/* Variables */

$dark-blue: #2C353B;
$light-blue: #21D6F0;
$orange: #f0a121;
$purple: #736EFE;
$white: #FFFFFF;
$black: #111111;

html, body {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: $dark-blue;
}

a {
  color: $dark-blue;
}


.header {
  position: relative;
  height: 100vh;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../images/devs-background.jpg");
  background-position: top center;
  background-size: cover;
  z-index: 1;

  &__logo {
    display: block;
    width: 150px;
    margin: 1em auto;
  }
  &__title {
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin: 0;
  }
  &__description {
    max-width: 30em;
    font-size: 1em;
    margin: 1em auto;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-image: linear-gradient(318deg, #5EFCE8, #736EFE, #0396FF, #90F7EC, #21D6F0);
    background-size: 400% 400%;
    animation: BackgroundAnimation 50s ease infinite;
    opacity: .9;
    z-index: -1;
  }

  @media screen and (min-width: 30em) {
    &__logo {
      display: block;
      width: 250px;
    }
    &__title {
      font-size: 3em;
      text-transform: uppercase;
    }
    &__description {
      font-size: 1.5em;
    }
  }
}

@keyframes BackgroundAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.button {
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1em 2em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-weight: bold;

  &--primary {
    color: $white;
    background-color: $orange;
  }
  &--secondary {
    color: $white;
    background-color: $dark-blue;
  }
  &--center {
    max-width: 450px;
    margin: 1em auto;
  }
}



.nav-wrapper {
  padding: 1em 0;
  color: $white;
  background-color: $dark-blue;
  @media screen and (min-width: 52em) {
    padding: .5em 0;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 52em) {
    flex-direction: row;
  }
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    display: inline-block;
    margin: .5em;
    a {
      color: inherit;
      text-decoration: none;
    }
    @media screen and (min-width: 52em) {
      margin: 0 .5em;
    }
  }
}



.container {
  max-width: 52em;
  margin: 0 auto;
  padding: 0 1em;
}

.section {
  padding: 2em 0;

  @media screen and (min-width: 30em) {
    padding: 3em 0;
  }

  &__title {
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.2;
    @media screen and (min-width: 30em) {
      font-size: 2em;
    }
  }
}
